* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}



/*Utilities*/

body {
    background-color: aqua;
    height: 100vh;}


.flex {
    display: flex;
}



.main-container {
    background-color: rgb(255, 166, 0);
    width: 100vw;
    height: 80vh;
}

nav {
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: rgb(255, 0, 0);
    
}

main {
    display: inline-block;
    height: 100%;
    width: 80%;
    background-color: blue;
}

header {
    height: 10%;
    width: 100%;
    background-color: grey;
}

.main-content {
    height: 90%;
    width: 100%;
    background-color: coral;
    overflow: scroll;
}


footer {
    background-color: black;
    width: 100vw;
    height: 20vh;
}