* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

ul {
    list-style-type: none;
}

img {max-width: 100%;}

/*Utilities*/

body {
    background-color: aqua;
    font-family:'Montserrat', sans-serif;
}

.flex {
    display: flex;
}

.none {display: none;}

/*Creazione di due container principali per separare
 la sezione principale dal footer. */

.main-container {
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
}

.contenuto-superiore {
    flex-grow: 1;
    padding-bottom: 120px;
}

nav {
    width: 200px;
    background-color: black;
    padding: 15px;
    color:rgb(113,113,113);
    flex-shrink: 0;
    position: relative;
}

nav i {font-size: 25px;
    margin-right: 10px;}



nav li {margin: 9px 0;}
nav ul {margin: 20px 0}

nav li:hover {filter: brightness(2);}

nav h4 {text-transform: uppercase;
    color: white;
    margin: 20px 0}
.logo {width: 80%;
}

main {
    width: calc(100%-200px);
    flex-grow: 1;
    background-color:rgb(20,25,34);
    color: rgb(117,120,125);
    overflow-y: scroll;
}

/*Header sticky bar*/

header {
    height: 90px;
    position: sticky;
    top: 0;
    background-color: rgba(9,11,18, 0.8);
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}


header span {
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

header span:hover {font-size: 15px;}

/*Contenuto sotto l'header bar*/

.contenuto-main {
    width: 100%;
    padding: 20px;
}

.contenuto-main ul hr {
    border-color: transparent;}



.contenuto-main li:active hr{ /*Hanno un effetto in hover*/
    width: 30%;
    margin: 5px auto;
    border-color: rgb(173,255,46);}


.contenuto-main ul {justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;}
.contenuto-main ul li {
    margin: 15px 10px
}
.contenuto-main h3 {
    color: white;
    margin: 40px 0;
}
.card-container {
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {margin-bottom: 20px;
    margin-right: 10px;
    width: 15%;}

/*Effetto in hover sulla card*/  

.card:hover 
.contenuto-main .card {
    width: 200px;
    text-align: center;
    margin-right: 15px;
}
.card img {
    width: 100%;
}
.card h4 {
    color: white;
    margin: 10px 0;
}


/*Footer*/

footer {
    background-color: rgb(40,40,40);
    height: 120px;
    width: 100%;
    flex-shrink: 0;
    position: fixed;
    bottom: 0%;
}

/*Elementi dentro al footer*/

.footer-container {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer-container img {
    height: 70px;
    margin-right: 10px;
}
.brano-nome {align-items: center;}
.brano-nome div {color: white;
    font-weight: 700;}
.brano-nome span {color: rgb(117,120,125);
    font-weight: 600;}

.icone-sx {
    color: white;
    font-size: 20px;
} 

.icone-sx span {margin: 0 10px;}

.player

.icone-player {justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 26px;}

.icone-player i {margin: 0 10px}

.icone-player span{
    font-size: 36px;
}

.player-bar {justify-content: space-between;
    align-items: center;}
.player-bar span {color: white;
    font-weight: 600;
    font-size: 12px;
}
.bar {width: 320px;
    background-color: rgb(117,120,125);
    height: 3px;
    margin: 20px 10px;}

.dynamic-bar { height: 100%;
    background-color: white;
    width: 3%;
    transition-property: width;
    transition-duration: 30s;
}

.player span:active .dynamic-bar {
    width: 100%;
}

.icone-dx  {align-items: center;}
.icone-dx i {
    color: white;
    margin: 0 10px;
}
.mini-bar{
    width: 100px;
    background-color: rgb(117,120,125);
    height: 2px;
    margin: 0px 10px;
}

/*Elemento relativo al footer*/

.profilo {
    color:rgb(113,113,113);
    position: absolute;
    bottom: 100%;
    padding:15px;
    left: 0%;
    background-color: black;}

.profilo i {font-size: 20px;
margin: 0 5px}

.profilo hr{margin: 10px 0;
    border: 1px solid rgb(117,120,125);}
    .profilo .nome{color: white;
        font-weight: 700;
    }


/*Desktop responsivness, non cambia quasi nulla ma i contenuti si ridimensionano*/
    
@media screen and (max-width:992px){
    .card {width: 20%;}
    }
    
    
/*Tablet responsivness, voglio 4 card per riga max*/
@media screen and (max-width:768px){
    .card {width: 45%;}
    .brano-nome img{display: none;}
    .icone-sx {display: none;}
    .mini-bar {display: none;}
    }

 /*Mobile responsivness, abbiamo un incolonnamento delle sole icone,
il resto va nascoto.*/
    
 @media screen and (max-width:576px){
    nav {width: 70px;
        display: flex;
        flex-direction: column;}
    
    nav li {display: none;}
    nav h4 {display: none;}
    nav img {display: none;}

    .mobile-only {display:flex;
        flex-direction: column;}
    .mobile-only i {margin: 10px 0px;
    font-size: 24px;}
    .mobile-only i:hover{filter: brightness(2);}
    .mobile-only img {width: 30%;}
    .profilo { width: 70px;}
    footer .profilo i {width: 100%;
    margin: 20px 0px;
    font-size: 24px;
    }
    footer .profilo i:hover {filter: brightness(2);}
    .profilo h5, .profilo span, .profilo hr{display: none;}
    .card {width: 80%;}
    .brano-nome {display: none;}
    .icone-dx {display: none;}
}


