* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

ul {
    list-style-type: none;
}


/*Utilities*/

body {
    background-color: aqua;
    font-family:'Montserrat', sans-serif;
}


.flex {
    display: flex;
}

/*Creazione di due container principali per separare
 la sezione principale dal footer. */

.main-container {
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
}

.contenuto-superiore {
    flex-grow: 1;
}

nav {
    width: 200px;
    background-color: black;
    padding: 10px;
    color: white;
    flex-shrink: 0;
}

nav li {margin: 9px 0;}
nav ul {margin: 15px 0}

.logo {width: 80%;
}

main {
    width: calc(100%-200px);
    flex-grow: 1;
    background-color:rgb(20,25,34);
    color: rgb(117,120,125);
}

/*Header sticky bar*/

header {
    height: 90px;
    position: sticky;
    top: 0;
    background-color: rgba(9,11,18, 0.8);
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}


header span {
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

/*Contenuto sotto l'header bar*/

.contenuto-main {
    overflow-y: auto;
    width: 100%;
    padding: 20px;
}

.contenuto-main ul {justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;}
.contenuto-main ul li {
    margin: 15px 10px
}
.contenuto-main h3 {
    color: white;
    margin: 50px 0;
}
.contenuto-main .card

.card img {
    width: 100%;
}



/*Footer*/

footer {
    background-color: rgb(40,40,40);
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    position: fixed;
    bottom: 0%;
}